body, html {
	margin: 0;
	height: 100%;
	width: 100%;
}

.box {
	height:100%;
	width:100%;
	display:grid;
	align-items:center;
	justify-content: center;
	grid-template-columns: 1fr 2.5fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	/* background-color: rgba(100,100,100,0.5); */
}

.header {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	text-align:center;
}
.footer {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	text-align:center;
}


.pre-content {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	justify-self:stretch;
	/* background-color:blue; */
	text-align:right;
}

.post-content {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
	justify-self:stretch;
	/* background-color:green; */
	text-align:left;
}

.centre {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	align-self:center;
	/* justify-self:center; */
	justify-self:stretch;
	/* background-color:pink; */
}

.descr {
	/* flex:auto; */
	margin:1em;
	font-size:20pt;
}

.largetext {
	font-size:33pt;
}



input.range-bar {
	width:100%;
	-webkit-appearance: none;
	background-color: #787878;
	height:0.2cm;
	border-radius:0px;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: white;
		width: 0.8cm;
		height: 0.8cm;
		border: 1px solid black;
		border-radius:0px;
	}
	&::-moz-range-thumb {
		background: white;
		width: 0.8cm;
		height: 0.8cm;
		border: 1px solid black;
		border-radius:0px;
	}
}

.center-image img{
	max-width:100%;
	display:block;
	margin:auto;
}
